@import "_variables";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: $bgLight;
  color: $textLight;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
  background-color: $bgDark;
  border-radius: 15px;
  color: $textLight;
  margin-bottom: 1rem;
}

.card-body {
  padding: 1.5rem;
}

.card-profile {
  .card-body {
    padding: 4rem 2rem;
    text-align: center;

    .avatar {
      width: 170px;
      height: 170px;
      border-radius: 50%;
      margin: 0 auto;
      background-color: $bgDark;
      background-image: url("../images/bg3.gif");
      background-position: center;
      background-size: 290px;
      transition: all 0.3s ease-in-out;
    }

    //.avatar.active,
    //.avatar:hover {
    //  transform: scale(1.05);
    //  border: 5px solid $primary;
    //}

    .avatar.pulse{
      transform: scale(1.05);
      border: 5px solid $primary;
    }

    .name {
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 2rem;
      margin-bottom: 0;
      color: rgb(231 238 247); //rgba(255, 255, 255, 0.95);
    }

    .title {
      font-size: 1rem;
      font-weight: 500;
      margin-top: 0.5rem;
    }

    .social-media {
      margin-top: 2rem;

      .social-media-icon {
        margin-right: 5px;
        margin-left: 5px;

        img {
          transition: transform .2s;

          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
  }
}

.tab-content {
  padding: 1.5rem;
  height: calc(100vh - (12rem + 49px));
  min-height: 500px;
  overflow-y: auto;
}

.tab-content::-webkit-scrollbar {
  width: 7px;
  background-color: transparent !important;
}

.tab-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #8070d4;
  border: 2px solid #8070d4;
}

.tab-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(46, 62, 74, 0.00);
  border-radius: 0;
  background-color: transparent !important;
}

.tabs-menu {
  border: 0;

  li {
    background-color: #1059b3;
    overflow: hidden;
  }

  li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .nav-link {
    color: #99CCF3;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25;
    height: 49px;
    border: 0;
    transition: all .1s ease-in-out;
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link.active {
    color: rgb(231 238 247); //rgba(255, 255, 255, 0.9);
    background-color: transparent;
    border: 0;
  }

  .nav-link.active {
    font-size: 1.05rem;
  }

  .nav-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transition: all .5s ease-in-out;
    box-shadow: inset -80px 0 0 0 $primary, // #1059b3,
    inset 80px 0 0 0 $primary; // #1059b3;

  }

  .nav-item:hover::after,
  .nav-item:focus::after,
  .nav-item.active::after {
    width: 100%;
    height: 2px;
    box-shadow: inset 0 0 0 0 $primary, // #1059b3,
    inset 0 0 0 0 $primary; // #1059b3;
  }
}

h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

h2:after {
  content: "";
  display: block;
  width: 3em;
  max-width: 50%;
  margin-top: 1.5rem;
  border-radius: 5rem;
  border-bottom: 3px solid $primary; // #1a7ef6;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: $textMuted;

}

.timeline {
  display: flex;
  flex-direction: column;
  flex: 0 1 0%;
  -webkit-box-align: center;
  align-items: center;

  .bullet {
    display: flex;
    align-self: baseline;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    border-radius: 50%;
    margin: 11.5px 0;
    border-color: transparent;
    color: rgb(255, 255, 255);
    background-color: $primary;
    box-shadow: rgb(255 76 81 / 12%) 0px 0px 0px 3px;
  }

  .v-line {
    width: 2px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background-color: rgba(231, 227, 252, 0.12);
  }
}

.timeline-box {
  padding-top: 6px;

  .timeline-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .timeline-company {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .timeline-period {
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: $textMuted;
  }

  .timeline-location {
    font-size: 0.7rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: $textMuted;
  }

  .timeline-aptitudes {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .timeline-description {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
}

.border-primary {
  border: 1px solid $borderColorDark !important;
}

.card-post {
  border-radius: 10px;
  overflow: hidden;
  background: $secondary;
  position: relative;

  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-post-tag {
    position: absolute;
    top: 10px;
    left: 10px;

    .badge {
      background: rgba(0, 30, 60, 0.75);
      color: white;
      font-size: 0.7rem;
    }
  }

  .card-body {
    padding: 1.5rem;

    .card-title {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      min-height: 50px;
    }

    .card-subtitle {
      font-size: 0.875rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      color: $textMuted;
    }

    .card-text {
      font-size: 0.875rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
  }

  .card-footer {
    .card-date {
      font-size: 0.7rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
      color: rgba(255, 255, 255, 0.5);
    }

    .card-author {
      font-size: 0.7rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.card-repository {
  border: 1px solid $borderColorDark;
  border-radius: 10px;
  overflow: hidden;
  background: $bgLight;

  .card-body {
    padding: 1rem;

    .card-title {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .card-text {
      font-size: 0.7rem;
      font-weight: 500;
      color: $textMuted;
    }
  }
}

.btn-more {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: white;
  background-color: $secondary;
  border: 1px solid $primary;
  border-radius: 7px;
  width: 120px;

  &:hover {
    color: white;
    border: 1px solid $primary;
    box-shadow: inset -60px 0 0 0 $primary,
    inset 60px 0 0 0 $primary;
  }
}

.form-label {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 4px;
  margin-left: 3px;
  color: $textMuted;
}

.form-control {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: $textMuted;
  background-color: $bgLight;
  border: 1px solid $borderColorDark;
  border-radius: 7px;
  padding: 0.5rem 1rem;
}

.form-control:focus {
  color: $textMuted;
  background-color: $bgLight;
  border: 1px solid $primary;
  outline: 0;
  box-shadow: none;
}

.form-control::placeholder {
  color: $textMuted;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: $bgLight;
  opacity: 1;
}

.btn-form {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: white;
  background-color: $secondary;
  border: 1px solid $primary;
  border-radius: 7px;
  width: 120px;

  &:hover {
    color: white;
    border: 1px solid $primary;
    box-shadow: inset -60px 0 0 0 $primary,
    inset 60px 0 0 0 $primary;
  }
}

.alert-success {
  color: rgb(204, 232, 205);
  background-color: rgb(12, 19, 13);
  border: 1px solid rgb(12, 19, 13);
  border-radius: 7px;
  font-size: 0.875rem;
}

.alert-danger {
  color: rgb(244, 199, 199);
  background-color: rgb(22, 11, 11);
  border: 1px solid rgb(22, 11, 11);
  border-radius: 7px;
  font-size: 0.875rem;
}

.icon-success {
  color: rgb(102, 187, 106);
  font-size: 1.5rem;
}

.icon-danger {
  color: rgb(244, 67, 54);
  font-size: 1.5rem;
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $primary
  }
  100% {
    box-shadow: 0 0 0 4em transparent
  }
}

.btn-menu {
  width: 48px;
  height: 48px;
  border: 1px solid #1a7ef6 !important;
  background: #1a7ef6 !important;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: translateX(0);
  z-index: 9999;

  .bar:nth-child(1) {
    animation: top-bar-reverse .7s cubic-bezier(0.5, 0.2, 0.2, 1.01) forwards;
  }

  .bar:nth-child(2) {
    animation: middle-bar-reverse .7s cubic-bezier(0.5, 0.2, 0.2, 1.01) forwards;
  }

  .bar:nth-child(3) {
    animation: bottom-bar-reverse .7s cubic-bezier(0.5, 0.2, 0.2, 1.01) forwards;
  }

  &.active {
    .bar:nth-child(1) {
      animation: top-bar .7s cubic-bezier(0.5, 0.2, 0.2, 1.01) forwards;
    }

    .bar:nth-child(2) {
      animation: middle-bar .7s cubic-bezier(0.5, 0.2, 0.2, 1.01) forwards;
    }

    .bar:nth-child(3) {
      animation: bottom-bar .7s cubic-bezier(0.5, 0.2, 0.2, 1.01) forwards;
    }
  }
}

.icon-menu {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;

  .bar {
    height: 2px;
    width: 100%;
    display: block;
    margin: 5px auto;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.4s;
  }
}

@keyframes top-bar {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(7px) rotate(-45deg);
  }
}

@keyframes middle-bar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}

@keyframes bottom-bar {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-7px) rotate(45deg);
  }
}

@keyframes top-bar-reverse {
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  0% {
    transform: translateY(7px) rotate(-45deg);
  }
}

@keyframes middle-bar-reverse {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(100px);
  }
}

@keyframes bottom-bar-reverse {
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  0% {
    transform: translateY(-7px) rotate(45deg);
  }
}

.offcanvas {
  background: $bgLight;
}

.offcanvas-bottom {
  height: 400px !important;
  border-radius: 50px 50px 0 0;
}

.nav-mobile {
  .nav-link {
    text-align: center;
    font-size: 1rem;
    line-height: 1.25;
    color: #99CCF3;
    cursor: pointer;
    transition: all .5s ease-in-out;

    &.active,
    &:hover {
      color: white;
      font-weight: bold;
      font-size: 1.05rem;
    }

  }
}

.offcanvas-backdrop.show {
  opacity: 0.85;
}

.modal-open {
  overflow: hidden;
}

.card {
  border: 1px solid #202637;
}

.link-more {
  cursor: pointer;
  font-size: 0.8rem;
  white-space: nowrap;
}


.badge.bg-secondary {
  color: $textLight;
}
